%h1 Add Video

- if @video

  %h2= @video.title

  = image_tag @video.thumbnail_url(quality: 'high')

  = form_for @video do |f|

    = f.hidden_field :url

    .assign-boards
      = render 'board_checkboxes', f: f
    = f.submit 'Add Video'

    %h4 Description
    %p.video-desc= @video.description

- else
  .alert.alert-warning Couldn't retrieve video data for url: #{@video.url}. Try again with another URL.