!!! 5
%html(lang="en")
  %head
    -#@todo cleanup
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Pintube"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"

  %body
    = nav_bar fixed: :top, brand: "Pintube", brand_link: root_path, responsive: true do

      .nav-bar-container
        .board_forms.navbar-form
          = form_tag root_path, method: :get do
            Current Board
            = select_tag :current_board_id, options_from_collection_for_select(Board.all, :id, :name, params[:current_board_id]), include_blank: '- All Videos -'

          = form_for Board.new do |f|
            = f.text_field :name, placeholder: 'New board name'
            = submit_tag 'Create'

        = form_tag new_video_path, method: :get, class: 'navbar-form pull-right' do
          New Video
          = text_field_tag :video_url, nil, placeholder: 'Video URL eg youtu.be/sGE4HMvDe-Q'
          = submit_tag 'Add'

    .layout-spacer

    - flash.each do |key, msg|
      .flash.alert{class: "alert-#{key}"}= msg

    .container
      = yield